<header class="navbar">
    <div class="navbar__brand">
      <h1>Welcome to Boo Boo Fashions</h1>
    </div>
    <nav class="navbar__menu">
      <ul class="navbar__items">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <button routerLink="womenclothes" class="btn btn-primary">Women's Clothes</button>
        <li><a routerLink="/womensacessories" routerLinkActive="active">Women's Accessories</a></li>
        <li><a routerLink="/kidsclothes" routerLinkActive="active">Kid's Clothes</a></li>
        <li><a routerLink="/kidsacessories" routerLinkActive="active">Kid's Accessories</a></li>
        <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
        <li><a routerLink="/account" routerLinkActive="active">Account</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <button (click)="logout()" class="btn btn-danger">Logout</button>

      </ul>
    </nav>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>